<div class="row">
    <div class="col-12 text-center">
        <a href="#">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-google-plus fa-2x"></i>
        </a>
    </div>
</div>