<nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Giftins</a>
        <span class="navbar-text mr-auto">
            Installation
        </span>
    </div>
</nav>