@{

}
<ul id="user-menu" class="nav nav-pills nav-fill nav-justified mt-3">
    <li class="nav-item @UserNavPages.FriendsNavClass(ViewContext)">
        <a asp-route="Friends">
            <p><span class="fa fa-users fa-2x"></span></p>
            <p class="label">My friends</p>
        </a>
    </li>
    <li class="nav-item @UserNavPages.BillNavCalss(ViewContext)">
        <a asp-route="Bill">
            <p><span class="fa fa-dollar-sign fa-2x"></span></p>
            <p>My bill</p>
        </a>
    </li>
    <li class="nav-item @UserNavPages.CalendarNavCalss(ViewContext)">
        <a asp-route="Calendar">
            <p><span class="fa fa-calendar-alt fa-2x"></span></p>
            <p>Calendar</p>
        </a>
    </li>
    <li class="nav-item @UserNavPages.WishNavCalss(ViewContext)">
        <a asp-route="Wish">
            <p><span class="fa fa-heart fa-2x"></span></p>
            <p>My wish</p>
        </a>
    </li>
</ul>