$color-main: #2196f3;
$color-main-lighten: #90cbf9;
$color-main-text: #fff;

$color-secondary: #ff4081;
$color-secondary-text: #fff;

$color-gray: #616161;

$color-background: #eaeae8;
$color-content-background: #fbfbfa;

$color-button-default: transparent;
$color-button-default-text: #000;

$color-button-primary: #00bcd4;
$color-button-primary-text: #fff;