@model LoginViewModel
@{
    Layout = "/Views/Shared/_Frontpage.cshtml";
    ViewBag.Title = "Login - Giftins";
}
<h3>@ViewData["Message"]</h3>
<div class="row">
    <div class="col-12 offset-sm-2 col-sm-8 offset-lg-3 col-lg-6 sign-wrapper">
        <div class="row sign-header">
            <div class="col-6 item">
                <a asp-route="Login" class="active">Sign in</a>
            </div>
            <div class="col-6 item">
                <a asp-route="Register">Sign up</a>
            </div>
        </div>
        <div class="row sign-body">
            <div class="col-10 offset-1">
                <form asp-route="Login" method="post">
                    <div class="form-group">
                        <label asp-for="Login"></label>
                        <input asp-for="Login" class="form-control" placeholder="Enter your email address" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                    </div>
                    <div class="form-group text-right">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                            <button class="btn btn-success form-control">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <span class="w-100 text-center">
                <span>-</span>
                <span>OR</span>
                <span>-</span>
            </span>
        </div>
        <div class="row sign-prov">
            <partial name="_SignExternalPartial" />
        </div>
    </div>
</div>
<br />